@model ECommerceWeb.Models.ViewModels.CouponViewModel


<form id="saveForm">
    @Html.HiddenFor(x => x.CouponId)
    <div class="form-group">
        <label asp-for="CouponCode" class="col-form-label"></label>
        <input asp-for="CouponCode" class="form-control" Id="CouponCode" />
        <span asp-validation-for="CouponCode" class="text-danger"></span>
    </div>
    <div class="form-group" @*id='datetimepicker1'*@>
        <label asp-for="Valid_Till" class="form-check-label"></label>
        <input asp-for="Valid_Till" type="text" class="form-control" Id="validTill">
    </div>
    <div class="form-group">
        <label asp-for="Discount" class="col-form-label"></label>
        <input asp-for="Discount" class="form-control" id="Disount"/>
    </div>
    <div class="form-group">
        <label asp-for="ProductIds" class="col-form-label"></label>
        <div class="col-md-6">
            <select asp-for="ProductIds" id="multiple-checkboxes" multiple="multiple">
                @foreach (var item in ViewBag.data)
                {
                    <option value="@item.ProductId">@item.ProductName</option>
                }
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="btnSave" type="button" class="btn btn-success">Save</button>
    </div>

</form>


<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
<script>
        $("#btnSave").click(function (e) {
            var valno = $("#CouponCode").val().length;
            if(valno > 3 && valno < 6){
                $.ajax({
                url: "/DiscountCoupon/DiscountCoupon",
                type: "POST",
                data: $("#saveForm").serialize(),
                success : function () { window.location.reload(); }
                });
            }else{
                alert("Please enter valid coupon code min 3 and max 5.");
            }
        });
</script>



