@model IEnumerable<ECommerceWeb.Models.Order>
@{
    ViewData["Title"] = "Order";
    var i = 1;
}
<h4 class="text-center text-uppercase">Order</h4>
<p>  
     
</p>
<table class="table table-bordered">  
    <thead>  
        <tr><th>Id</th>   
            <th>Order Created Date</th>
            <th>Order Status</th>  
            <th>Amount</th>  
            <th>User</th>  
            <th>Invoice</th>
        </tr>  
    </thead>  
    <tbody> 
        @foreach (var order in Model) 
        {  
        <tr>
            <td>
            @i @{ i++; }
            </td>
            <td>@order.OrderCreated_Date</td>

            <td>@if(order.OrderStatusId == 0){
                    <div>pending</div>
                }
                else{
                    <div>completed</div>
                }
            </td>  
            <td>@order.GrossAmount</td> 
            <td>@order.User.Email</td>
            <td>
                 <button id="btnSelect" class="btn btn-sm btn-danger"><a href="/Order/pdf?Ids=@order.OrderId" class="link-light"><i class="fa fa-file-pdf-o"></i></a></button>   
            </td>
        </tr> 
        }  
    </tbody>  
</table> 
