@model IEnumerable<ECommerceWeb.Models.Products>  
  
@{  
    ViewData["Title"] = "Home Page";  
}  
  
<div class="d-flex flex-row">
   
      @foreach (var product in Model)  
        { 
            <div class="p-2">
                <table>
                    <tr>
                     <td>  
                            <img src="~/images/@product.ProductPicture"   
                            
                                 height="300" width="300"   
                                 asp-append-version="true" /> 
                     </td>
                    </tr>
                    <tr>
                        <td>
                            @product.ProductName  
                        </td> 
                    </tr>
                    <tr>
                        <td>&#8377; @product.Price</td> 
                    </tr>
                    <tr>
                        <td>
                            <a href="/Home/Details?productId=@product.ProductId"> Go to View </a> |
                            <a asp-controller="cart" asp-action="buy" asp-route-id="@product.ProductId">Add to Cart</a>    
                        </td>
                    </tr>
                </table> 
            </div>
        } 
      
   
</div>
