@model ECommerceWeb.Models.ProductCategory
@{  
    ViewData["Title"] = "ProductCategory";  
}  
  
<div class="col-md-10 mx-auto py-4">  
    <div class="card">  

        <div class="card-header bg-primary text-uppercase text-white">  
            <h4>Add New ProductCategory</h4>  
        </div>  
        <div class="card-body">  
            <form enctype="multipart/form-data" asp-action="ProductCategoryForm">  
                @Html.HiddenFor(x=> x.ProductCategoryId)
                <div class="row">  
                    <div class="col-md-6">  
                        <div class="form-group">  
                            <label asp-for="Name" class="control-label"></label>  
                            <input asp-for="Name" class="form-control" />  
                            <span asp-validation-for="Name" class="text-danger"></span>  
                        </div>  
                    </div>  
                </div>  
                <div class="form-group">  
                    <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />  
                    <a asp-action="ProductCategoryList" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i> Back to List</a>  
                </div>  
            </form>  
        </div>  
    </div>  
</div>  
